FEATURE_EXTRACTION_MODE=legacy
WHISPER_MODEL_SIZE=base
WHISPERX_MODEL_SIZE=small
WHISPERX_COMPUTE_TYPE=int8
PITCH_BACKEND=rmvpe
RMVPE_PYTHON_PATH=/home/featurize/work/BS/backend/third_party/RMVPE
RMVPE_MODEL_PATH=/home/featurize/work/BS/backend/models/rmvpe/rmvpe.pt
